*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}
.navbar{
    display:flex;
    justify-content:space-between;
    padding:10px 70px;
    background:white;
}
.logo{
    color:#100f0f;
}
.navbar nav a{
    color:black;
    margin-left:25px;
    text-decoration:none;
    font-size:18px;
}
.img{
    position: relative;
}
.bigimg{
    height: 650px;
    width: 1521px;
}


.hero-text{
    color:rgb(252, 249, 249);
}
.hero-text h3{
    letter-spacing:2px;
    position: absolute;
    top: 160px;
    margin-left: 200px;
}
.hero-text h1{
    font-size:48px;
    top:200px;
    position: absolute;
    margin-left: 200px;
}
.hero-text p{
    line-height:1.6;
    margin-bottom:20px;
    top:270px;
    position: absolute;
    margin-left: 200px;
}
.hero-text button{
    padding:12px 25px;
    background:#e74c3c;
    border:none;
    color:black;
    cursor:pointer;
    position: absolute;
     top:380px;
    margin-left: 200px;
}


.about{
    display:flex;
    align-items:center;
    justify-content:space-around;
    padding:80px;
    background-color: white;
}
.about-text{
    width:45%;
}
.about-text h2{
    font-size:36px;
    margin-bottom:20px;
}
.about-text p{
    line-height:1.6;
    margin-bottom:25px;
}
.about-text button{
    padding:12px 25px;
    background:#e74c3c;
    border:none;
    color:white;
    cursor:pointer;
}
.about-img img{
    width:500px;
    height: 400px;
    border-radius:10px;
}


.menus{
  background-color: #F9F9FF;
  height: 1000px;
}
.menu-section {
  max-width: 1100px;
  margin: 60px auto;
  text-align: center;
  padding: 20px;
}
.menu-section h1 {
  font-size: 37px;
  margin-bottom: 10px;
  margin-top: 50px;
}
.subtitle {
  color: #777;
}
.menu-tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 40px;
  margin-top: 40px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
.menu-tabs button {
  padding: 30px 30px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 15px;
}
.menu-tabs button.active {
  background: #e74c3c;
  color: #fff;
}
.menu-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  gap: 50px;
  margin-top: 70px;
}
.menu-card {
  background: #fff;
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  text-align: left;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.card-header h3 {
  font-size: 20px;
}
.card-header span {
  color: #e74c3c;
  font-weight: bold;
}
.menu-card p {
  color: #777;
  font-size: 14px;
  line-height: 1.6;
}


.reservation {
  min-height: 100vh;
  background: url("https://images.unsplash.com/photo-1600891964599-f61ba0e24092")
 center/cover no-repeat;
  position: relative;
}
.overlay {
  background: rgba(0,0,0,0.65);
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.content {
  max-width: 1200px;
  margin: auto;
  padding: 40px;
  display: flex;
  gap: 50px;
}
.text-area {
  flex: 1;
  color: #fff;
}
.text-area h1 {
  font-size: 36px;
  line-height: 1.3;
  margin-bottom: 20px;
  margin-top: 70px;
}
.text-area p {
  font-size: 15px;
  line-height: 1.7;
  width: 75%;
  color: #ddd;
}
.form-area {
  background: #fff;
  padding: 30px;
  width: 350px;
  border-radius: 6px;
}
.form-area input,
.form-area select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  font-size: 14px;
}
.form-area button {
  width: 100%;
  padding: 12px;
  background: #e74c3c;
  color: #fff;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
.form-area button:hover {
  background: #c0392b;
}


.gallery-section {
  max-width: 1200px;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
}
.gallery-section h1 {
  font-size: 44px;
  margin-bottom: 10px;
}
.subtitle {
  color: #777;
  margin-bottom: 20px;
}
.gallery-tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #fff;
  margin-top: 70px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 40px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}
.gallery-tabs button {
  padding: 35px 28px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 15px;
}
.gallery-tabs .active {
  background: #e74c3c;
  color: #fff;
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  gap: 20px;
}
.gallery-item {
  overflow: hidden;
  border-radius: 8px;
}
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}
.gallery-item:hover img {
  transform: scale(1.1);
}


.testimonial-section {
  min-height: 100vh;
  background: url("https://preview.colorlib.com/theme/marco/img/review-bg.jpg")
   center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial-content {
  background: rgba(255, 255, 255, 0.85);
  padding: 50px 40px;
  text-align: center;
  max-width: 600px;
  border-radius: 8px;
}
.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}
.testimonial-content h3 {
  font-size: 20px;
  margin-bottom: 5px;
}
.stars {
  color: #f1c40f;
  font-size: 18px;
  margin-bottom: 15px;
}
.review {
  color: #777;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 25px;
}
.dots {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.dots span {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
}
.dots .active {
  background: #e74c3c;
}


.blog-section {
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 90px;
}
.blog-section h1 {
    font-size: 42px;
    margin-bottom: 10px;
}
.subtitle {
    color: #777;
    max-width: 700px;
    margin: auto;
    font-size: 14px;
}
.blog-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-top: 40px;
}
.blog-card {
    background: #fff;
    text-align: left;
    overflow: hidden;
}
.blog-card img {
    width: 100%;
    height: 180px;
    transition: transform 0.5s;
}
.blog-card:hover img{
  transform: scale(1.1);
}
.date {
    display: inline-block;
    background: #333;
    color: #fff;
    font-size: 12px;
    padding: 4px 10px;
    margin: 15px;
}
.blog-card h3 {
    font-size: 20px;
    margin: 0 15px;
}
.blog-card p {
    font-size: 13px;
    color: #777;
    margin: 10px 15px;
}
.meta {
    display: flex;
    gap: 40px;
    font-size: 15px;
    color: #999;
    padding: 15px;
    border-top: 1px solid #eee;
}


.footer {
    background: linear-gradient(to right, #b31217, #e52d27);
    color: #fff;
    padding-top: 60px;
    height: 725px;
}
.footer-container {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding-bottom: 230px;
    margin-top: 100px;
}
.footer-box h3 {
    margin-bottom: 20px;
    font-size: 30px;
}
.footer-box p {
    font-size: 14px;
    line-height: 1.7;
    padding: 30px 0;
}
.footer-box ul {
    list-style: none;
}
.footer-box ul li {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    font-size: 14px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.footer-box h2 {
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
}
.newsletter {
    display: flex;
    margin-top: 15px;
}
.newsletter input {
    padding: 12px;
    border: none;
    border-radius: 25px 0 0 25px;
}
.newsletter button {
    background: #fff;
    color: #100f0f;
    border: none;
    padding: 0 18px;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
}
.newsletter i {
    color: beige;
    font-size: 16px;
}
.footer-bottom {
    background: rgba(0,0,0,0.25);
    padding: 15px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.footer-bottom p{
  margin-left: 400px;
}
.social-icons i {
    margin-left: 15px;
    cursor: pointer;
    transition: 0.3s;
}
.social-icons i:hover {
    color:white;
}
